@charset "UTF-8";

.main-color {
	color:#5f0080 !important;
}
.btn:hover {
	color:#fff !important;
}
/* header ----------------------------------------------------*/
#mall_serch_form {
	position:relative;
}
#mall_search {
	height: 36px;
    padding: 0 60px 0 14px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    outline: none;
    min-heigth: 36px !important;
    letter-spacing: -.05em;
   
    }
#mall_serch_icon{
	position: absolute;
    right: 40px;
    top: 30px;
    width: 30px;
    height: 30px;
    font-size:18px;
    
}

#mall_serch_icon:hover{
	cursor:pointer;
}
#mall_cart {
	font-size:18px;
}
#mall_cart:hover{
	color:#5f0080;
	cursor:pointer;
}

/* 주문내역 상세 */
.basketChk:hover {cursor:pointer;}

#selectDelete:hover {cursor:pointer;}

.white:hover {color:white !important;}

.img_height img {width:30%;}

.index_img {height:250px !important;}

.index_img img{height:250px !important;}

.index-button a{color:#5f0080 !important;}
.index-button:hover a {color:white !important;}

.index-button i{color:#5f0080 !important;}
.index-button:hover i{color:white !important;}

.fa-shopping-cart:before {color:#5f0080 !important}

/* ------------------ 모바일 -------------------------------------*/
@media (max-width: 992px){
	.m-d-none {
		display:none !important;}
}
















