#titleCenter{
	text-align:center;
}

/* stockReview, reviewUpdate */
#page-content{
	margin:auto;
	width:50%;
}

.sr_headTable {  
	width:20%;
	background-color:#eeeeee;
}

th {
	min-width:50px;
}

/* serviceCenter */

#sr_table, #q_table{
	border-top:2px solid #C19DCE;
}


#sc_table{
	border-top:2px solid #5f0080;
}

#btnStyle{
	border:0;
	outline:0;
	background-color:white;
}

#btnStyle:hover{
	background-color:#ECECEC;
}

#reviewContent{
	display:none;
	padding-left:10px;
}

#footTop {
	height:230px;
	background-color: #FEEBFD;
}

#footBottom{
	height:70px;
	border:1px solid red;
}

.sd_td {
	padding-left: 10px;
	padding-bottom: 5px;
}


#sd_h3 {
	display:inline-block;
	padding-left:5px;
}

#sd_secPrice {
	float:right;
}

#sd_btn {
	width:100%;
	height:60px;
	color: white;
	background-color: #5f0080;
	border-radius:10px;
}

#sd_basket_letter {
	font-size:1.5em;
	color:white;
}



.product-title {
	text-align:center;
	
}

.info-mellon {
	float:left;
	font-size: 1.5em;
}

.sd_hr_check{
	display:inline-block;
	width:20px;
}

.ICMallCheck{
	display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.55);
    font-size: 50px;
    margin: 8px 0px;
}

.ICMallCheck::before,
.ICMallCheck::after{
	content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

#info-nav {
	position:relative;
	width:70%;
	
}

#sd_info {
	position:relative;
	boder-right:1px solid black;
	background-color: #FAFAFA;
	padding:10px 20px;
 	font-size:2em;
}


